.navegador ul {
  list-style: none;
  margin: 0;
  display: flex;
  justify-content: center; }
  .navegador ul li {
    margin: 0; }
    .navegador ul li a {
      color: white; }
      .navegador ul li a p {
        font-size: 30px; }

@media screen and (min-width: 320px) and (max-width: 500px) {
  ul {
    list-style: none;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left; }
    ul li {
      margin: 0; }
      ul li a {
        color: white; } }

.boton {
  background-color: white; }

main {
  background-image: url(".././img/coffee-beans-3.svg");
  background-position-y: bottom;
  background-position: center;
  background-repeat: space;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%; }
  main h1 {
    font-weight: bold;
    letter-spacing: 8px;
    color: #000000;
    background-color: rgba(211, 211, 211, 0.795);
    justify-content: center;
    display: flex;
    font-size: 40px; }
  main ul {
    list-style: none;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    color: #d1d1d1;
    border: 2px solid white; }
    main ul li {
      background-color: rgba(79, 77, 77, 0.86);
      padding: 20px;
      margin: 30px;
      line-height: 40px; }
    main ul .titulos {
      font-weight: bold;
      font-size: 30px; }
    main ul .subtitulos {
      font-size: 28px; }
    main ul .precio {
      font-size: 24px; }
  main section {
    margin: 2px; }

@media screen and (min-width: 320px) and (max-width: 768px) {
  section {
    margin: 2px; } }

body {
  background-color: #d1d1d1; }
