.navegador ul {
  list-style: none;
  margin: 0;
  display: flex;
  justify-content: center; }
  .navegador ul li {
    margin: 0; }
    .navegador ul li a {
      color: white; }
      .navegador ul li a p {
        font-size: 30px; }

@media screen and (min-width: 320px) and (max-width: 500px) {
  ul {
    list-style: none;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left; }
    ul li {
      margin: 0; }
      ul li a {
        color: white; } }

.boton {
  background-color: white; }

main {
  background-image: url(".././img/coffee-beans-3.svg");
  background-position-y: bottom;
  background-position: right;
  background-repeat: space;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; }
  main h1 {
    color: white;
    justify-content: center;
    display: flex; }
  main ul {
    list-style: none;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    color: white;
    border: 2px solid white; }
    main ul li {
      background-color: rgba(255, 255, 255, 0.096);
      padding: 20px;
      margin: 10px;
      line-height: 40px; }
    main ul .titulos {
      font-weight: bold;
      font-size: 34px; }
    main ul .subtitulos {
      font-size: 28px; }
    main ul .precio {
      font-size: 24px; }
  main section {
    margin: 50px; }

@media screen and (min-width: 320px) and (max-width: 768px) {
  section {
    margin: 50px; } }

body {
  background-color: #291d16; }
