@media screen and (min-width: 320px) and (max-width: 768px) {
  .secciones {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-content: center; }
    .secciones li {
      margin: 0px;
      color: black; }
      .secciones li a {
        color: black;
        font-size: 24px; }
  .boton {
    background-color: white; } }

@media screen and (min-width: 320px) and (max-width: 768px) {
  html {
    scroll-behavior: smooth; }
  main {
    align-items: center;
    background-image: url(".././img/fondo.png");
    background-size: 100%;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 64px; }
    main h1 {
      font-size: 32px;
      color: black;
      font-weight: bold; }
    main ul {
      list-style: none;
      margin-bottom: 12px;
      display: grid;
      grid-template-columns: repeat(1, 100%);
      color: black; }
      main ul li {
        padding: 12px;
        list-style: none;
        margin-bottom: 12px;
        line-height: 30px; }
      main ul .titulos {
        font-size: 28px; }
      main ul .subtitulos {
        font-size: 24px;
        font-weight: 400; }
      main ul .precio {
        font-size: 20px; }
  section {
    margin-bottom: 12px;
    display: flex;
    align-items: center; }
  article {
    background-color: rgba(255, 255, 255, 0.674);
    margin-top: 20px;
    text-align: center;
    align-items: center; }
  .carousel.carrinho {
    width: 410px;
    margin-left: 44px;
    align-self: center;
    justify-content: center; } }
