
 
 
 @media screen and (min-width: 320px) and (max-width:500px) {
     .secciones {
         list-style: none; 
         display: flex;
         flex-direction: column;
         align-content: center;
     li{
         margin: 0px;
         color: black;
         a{
            color: black;
            font-size: 24px;
         }

     }
         }
 }
 .boton{
    background-color: white;
 }
