
 main {
    align-items: center;
    background-image: url(".././img/coffee-beans-3.svg");
    background-position-y: bottom;
    background-position: center;
    background-repeat: space;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    

  h1{
    font-size: 30px;
    background-color:  #d1d1d1a8;
  }  

    ul {
        list-style: none;
        margin: 0px;
        display: grid;
        grid-template-columns: repeat(1, 100%);
        color: #d1d1d1;


        li {
            list-style: none;
            margin: 0px;
            line-height: 30px;

        }

        .titulos {
            font-weight: bold;
            font-size: 20px;

        }

        .subtitulos {
            font-size: 18px;

        }

        .precio {
            font-size: 18px;
        }

    }


}
section{
    width: 500px;
    margin:0px;
    border: 2px solid white;
}
article{
    text-align: center;
    align-items: center;
    background-color: rgba(79, 77, 77, 0.616);

}


ul, li{
    margin:0 0 0 0;
    padding:0 0 0 0;
   }